body{
    background-image:url("img/me.JPG");
}

h1{
    text-align: center; /* https://www.wikihow.com/Center-Text-in-HTML taken from here */
    color: lightblue;
}

h2{
    text-align: center;
    color: cadetblue;
}

p{
    text-align: center;
    color:white;
}

#PC{
    border-radius: 8px; /* https://www.w3schools.com/css/css3_images.asp */

}

#gavel{
    border-radius: 50%;
}

#politics{
    border-radius: 80%;
}

#friends{
    border-radius: 80%;
}

#construction{
    border-radius:80%;
}

#chicago{
    border-radius: 8px;
}

#family{
    display: block; /* https://www.w3schools.com/css/css3_images.asp*/
    margin-left: auto;
    margin-right: auto;
}

#tacos{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cheese{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#redsign{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#chicken{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Bentayga{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

